examples/Basic-Example.json
[
    {
        "id": "f88a9620419a1883",
        "type": "tab",
        "label": "DuloNode Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4ef6f1a805d6072",
        "type": "DuloNodeDevice",
        "z": "f88a9620419a1883",
        "name": "Kitchen Lights",
        "deviceType": "light",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "1968f5abfca6b655"
            ]
        ]
    },
    {
        "id": "692aa05d0c4577b7",
        "type": "DuloNodeDevice",
        "z": "f88a9620419a1883",
        "name": "Bedroom Air Conditioner",
        "deviceType": "thermostat",
        "x": 490,
        "y": 377,
        "wires": [
            [
                "1c40d685999a67b0"
            ]
        ]
    },
    {
        "id": "98be797a96887649",
        "type": "DuloNodeDevice",
        "z": "f88a9620419a1883",
        "name": "TV",
        "deviceType": "tv",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "0be130047ae01683"
            ]
        ]
    },
    {
        "id": "c06aab5bbdb6be29",
        "type": "debug",
        "z": "f88a9620419a1883",
        "name": "Payload Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "2a63e5a95f6ba233",
        "type": "DuloNodeHub",
        "z": "f88a9620419a1883",
        "name": "",
        "plan": "Unknown",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "692aa05d0c4577b7",
                "f4ef6f1a805d6072",
                "98be797a96887649",
                "c06aab5bbdb6be29",
                "f132d7ba8245a556"
            ]
        ]
    },
    {
        "id": "f132d7ba8245a556",
        "type": "DuloNodeDevice",
        "z": "f88a9620419a1883",
        "name": "Garage Door",
        "deviceType": "garage_door",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "9751337f47ca1429"
            ]
        ]
    },
    {
        "id": "1968f5abfca6b655",
        "type": "function",
        "z": "f88a9620419a1883",
        "name": "Prepare MQTT",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 260,
        "wires": [
            [
                "1407cd69f420243c"
            ]
        ]
    },
    {
        "id": "9751337f47ca1429",
        "type": "function",
        "z": "f88a9620419a1883",
        "name": "Prepare MQTT",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "45c39aaf72db15ce"
            ]
        ]
    },
    {
        "id": "1407cd69f420243c",
        "type": "mqtt out",
        "z": "f88a9620419a1883",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f5bf82633e44e471",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "45c39aaf72db15ce",
        "type": "mqtt out",
        "z": "f88a9620419a1883",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f5bf82633e44e471",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "b91250652389301d",
        "type": "http response",
        "z": "f88a9620419a1883",
        "name": "Daikin response",
        "statusCode": "",
        "headers": {},
        "x": 920,
        "y": 377,
        "wires": []
    },
    {
        "id": "12ecf3ae6fc80b88",
        "type": "http response",
        "z": "f88a9620419a1883",
        "name": "Sony response",
        "statusCode": "",
        "headers": {},
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "0be130047ae01683",
        "type": "http request",
        "z": "f88a9620419a1883",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 440,
        "wires": [
            [
                "12ecf3ae6fc80b88"
            ]
        ]
    },
    {
        "id": "1c40d685999a67b0",
        "type": "http request",
        "z": "f88a9620419a1883",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 377,
        "wires": [
            [
                "b91250652389301d"
            ]
        ]
    },
    {
        "id": "f5bf82633e44e471",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]